*{
    margin: 0;
    padding: 0;
}
/*Common Styles*/

body {
    font-family: 'Lato', sans-serif;
}
.primary_btn {
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    margin-bottom: 150px;
    cursor: pointer;
    border: 0;
}

.span {
    color:#E55473 ;
}



/*NavBar Section */
 .nav_container {
    max-width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
 }

.nav_left {
    margin: 150px 97px 65px 240px;

}

.nav_left h2 {
    color: #272727;
    font-size: 65px;
    font-weight: 850;
}

.nav_left p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px 32px 0px;
}

.nav_right {
width: 635px;
height: 800px;
position: bottom;
}

/* Feature Section */

.features {
    margin-top: 150px;
    background: #FFF;

}

.section_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    width: 500px;
    margin-left: 30%;
}

.features_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 250px 0px 250px;
}

.features_info_container  {
    border-radius: 300px 300px 0px 0px;
    margin-right: 2%;
    height: 250px;
    display: inline-block;
}

.box_01 {
    background: rgba(167, 33, 98, 0.15);
    background-image: url(images/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 150px;
}
.box_02 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url(images/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 150px;
}
.box_03 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
    background-image: url(images/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 150px;
    margin-right: 50px;
}

.features_info_container a {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 900px;
    text-decoration-line: underline;
    overflow: hidden;
    
    
}
.features_info_container a:hover {
    color: #E55473;

}

/* Deal Section */
.hot_deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
}

.deal_container {
    display: flex;
    justify-content: space-around;
}

.left_deal {
    margin: 230px 100px 100px 200px;
    align-items: center;
}

.deal_title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}
.deal_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    display: inline-flex;
    padding: 20px 43px;    
    justify-content: center;
    margin-left: 40%;
    margin-top: 32px;
}

.right_deal {
    margin-top: 100px;
    margin-right: 200px;
}

/* Social Section */

.social_container {
    max-width: 100%;
    margin-top: 150px;
    background-color: #fff;
}

.social_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.social_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.social_images {
    display: flex;
    justify-content: space-around;
    margin-left:150px ;
    margin-right: 150px;
}
.social_images img {
    width: 23%;
}

/*Best Sold Section*/
.best_container {
    max-width: 100%;
    margin-top: 150px;
    background-color: #fff;
}

.best_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.best_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.best_images {
    display: flex;
    justify-content: space-around;
    margin-left:150px ;
    margin-right: 150px;
}
.best_images img {
    width: 40%;
    margin-top: 5%;
}



/* Latest Deal Section */

.latest_wrapper {
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin: 160px ; 
    border-radius: 8px;
}

.latest {
    
}

.latest_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 80px 80px 0 80px;
}

.latest_description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.latest input {
    border-radius: 8px;
    background: #FFF;
    margin: 30px 20px 100px 200px;
    padding: 20px;
    width: 300px;
    border: 0;
}
.subscribe {
    border: 0;
}

/* Fopoter Section */

.footer_section {
    background: #111010;
    text-align: center;
 
}
.footer_wrapper {
    padding: 50px;
}
.footer_title{
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}
.footer_title span{
    color:#E55473;
}

.footer_description {
    align-items: center;
    color: #e6e3e3;
    width: 450px;
    margin-left: 30%;
    margin-top: 20px;
    line-height: 1.5rem;
}

.footer_copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}














